# =========================
# General
# =========================
.env
.env.*
*.log
logs/
tmp/
temp/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# =========================
# Go
# =========================
bin/
*.exe
*.out
vendor/

# =========================
# Docker
# =========================
**/docker-data/
**/db-data/
**/logs-data/
**/metrics-data/

# =========================
# Jenkins
# =========================
jenkins_home/
jenkins-data/

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.iml

# =========================
# Coverage / Reports
# =========================
coverage/
*.lcov
*.coverage

